<ion-view view-title="Word Genius" class="discover-page">
    <ion-content scroll="false">
        <div class='container-fluid' ng-controller="PlayController">
            <h3 class="instructions"> Start typing to select words.</h3>
            <div class="msgWrapper">
                <div class="msg" ng-hide="hideMsg"></div>
            </div>
            <div class="wordInputWrap">
                <input type="text" 
                       ng-model="selectedWord" 
                       typeahead="word for word in dictionary | filter:$viewValue | filter:$viewValue:startsWith" 
                       class="wordInput" 
                       placeholder="Enter words here" 
                       autofocus="true" 
                       typeahead-on-select="afterSelect($item)"
                       ng-keyup="checkResults()"
                       >
            </div>
            <div selected-words></div>
            <div class="small_instructions">Click on a circle to remove.</div>
        </div>

    </ion-content>
</ion-view>
