<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!-- This is called implicitaly as it is referenced from an abstract state in the router. -->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Discover Tab -->
    <ion-tab title="Play" icon-off="ion-arrow-right-b" icon-on="ion-arrow-right-b" href="#/tab/play">
        <ion-nav-view name="tab-discover"></ion-nav-view>
    </ion-tab>

    <!-- Favorites Tab -->
    <ion-tab title="Reset" 
        icon-off="ion-close-circled" 
        icon-on="ion-close-circled" 
        on-select="enteringFavorites()"
        on-deselect="leavingFavorites()"
        badge="favCount()"
        badge-style="badge-assertive"
        href="#/tab/reset">
      <ion-nav-view name="tab-favorites"></ion-nav-view>
    </ion-tab>
</ion-tabs>
